*.pdf
node_modules/
.DS_Store

.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.pnp
.pnp.js


# Practica 1
Practica1/dockerized/sql
Practica1/front/build
Practica1/front/coverage


# Practica 2
Practica2/cpu/compiled
Practica2/ram/compiled
Practica2/front/build
Practica2/front/coverage
cmake-build-debug
Practica2/.idea

Testing/

# Proyecto
d-mysql/